.App {
  text-align: center;
  background: silver;
}


.home {
  height: 100vh;
}


.About {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.aboutHeader {
  margin-bottom: 0;
}
.fa-wave-square {
  margin-bottom: 200px;
}
.aboutCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.aboutCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
.iconWrapper {
  background: greenyellow;
  width: 6rem;
  height: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
