.App {
  text-align: center;
}

.home {
  height: 100vh;
}

.About {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.aboutHeader {
  margin-bottom: 0;
}
.fa-wave-square {
  margin-bottom: 200px;
  font-weight: bolder;
}
.iconWrapper {
  background: greenyellow;
}
